.user-card {
  height: 330px;
  box-shadow: -1px 1px 8px 3px rgba(0,0,0,.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: white;
  transform: translateY(0);
  transition: transform .2s linear , box-shadow .2s linear;
}

.user-card:hover {
  transform: translateY(-4px);
  box-shadow: -1px 5px 8px 3px rgba(0,0,0,.2);
}

.user-card img {
  border-radius: 50%;
  margin: 0 auto;
}

.user-card__header {
  background-color: var(--blue);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  display: flex;
  padding: 15px 0;
}

.user-card__body {
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-card__body .middle {
  flex: 1
}

.user-card__body .middle .name-age {
  margin: 0;
  font-weight: 700;
  font-size: 1.1rem;
  margin: 0 0 5px;
}

.user-card__body .middle .email{
  font-size: .9rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-card__body .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card__body .bottom .location {
  margin: 0 0 15px 0;
  font-size: .9rem;
}

.user-card__body .bottom .go-to-details {
  border: 1px solid var(--red);
  border-radius: 4px;
  background-color: var(--red);
  color: white;
  font-weight: 600;
  text-decoration: none;
  padding: 5px 15px;
  width: 130px;
  font-size: .9rem;
  transition: background-color .2s ease-in;
}

.user-card__body .bottom .go-to-details:hover {
  border: 1px solid var(--darkRed);
  background-color: var(--darkRed);
}

.dark-mode .user-card__body .bottom .go-to-details {
  background-color: var(--purple);
  border: 1px solid var(--purple);
}

.dark-mode .user-card__body .bottom .go-to-details:hover {
  border: 1px solid var(--darkPurple);
  background-color: var(--darkPurple);
}

.dark-mode .user-card {
  background-color: var(--grayBackground);
}

.dark-mode .user-card__header {
  background-color: var(--blueAlt);
}

.dark-mode .user-card__body {
  color: white;
}
