.wrapper {
  display: grid;
  grid-template-areas: 
    "sidebar users"
    "sidebar users"
    "sidebar pagination";
  padding: 40px;
  grid-template-columns: 300px minmax(300px, 800px);
  width: 100%;
  background-color: var(--background);
  justify-content: center;
}