.searchbar {
  max-width: 500px;
  width: 100%;
  position: relative;
  margin: auto;
}

.searchbar input {
  width: 100%;
  border: 0;
  height: 50px;
  border-radius: 5px;
  padding: 10px 10px 10px 35px;
  font-size: 1rem;
  box-shadow: 0 2px 8px 0px rgba(0,0,0,.2);
  font-family: 'Open Sans', sans-serif;
}

.searchbar i {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  filter: invert(60%);
}

@media screen and (max-width: 775px) {
  .searchbar input {
    margin: 20px 0;
  }
}