.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  background-color: var(--header);
  border-bottom-left-radius: 8%;
  border-bottom-right-radius: 8%;
  box-shadow: 1px 3px 6px 1px rgba(0,0,0,.2);
  z-index: 1;
}

.header img {
  width: 150px;
  height: auto;
  cursor: pointer;
}

@media screen and (max-width: 775px) {
  .header {
    flex-direction: column;
  }
}