.filter-sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter-sidebar .title {
  font-weight: 700;
  margin-bottom: 10px;
}

.filter-sidebar label {
  margin: 7px 0;
  font-size: .9rem;
}

.filter-sidebar .clear {
  font-family: 'Open Sans', sans-serif;
  border: 1px solid var(--red);
  border-radius: 4px;
  background-color: var(--red);
  color: white;
  font-weight: 600;
  text-decoration: none;
  padding: 5px 15px;
  width: 130px;
  margin-top: 10px;
  cursor: pointer;
}